streamlit

# LangChain core
langchain==0.3.14
langchain-openai
langchain-huggingface
langchain-pinecone
langchain-text-splitters
langchain-community

# Vector DB
pinecone

# Other
python-dotenv
torch
